{% extends "base/bs.html" %}

{% block content %}
<div class="container">
  <form action="#">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <label>姓名</label>
              <input name="name" value="{{item.name}}" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>手机</label>
              <input name="mobile" value="{{item.mobile}}" type="text" class="form-control" maxlength="11" data-parsley-trigger="change" required pattern="1\d{10}" data-parsley-required-message="请输入手机号" data-parsley-pattern-message="手机格式不正确" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-12">
            <div class="form-group">
              <label>邮箱</label>
              {% if item.email %}
              <p class="form-control-static">{{item.email}} <a href="email_edit">重新设置</a></p>
              {% else %}
              <p class="form-control-static">未设置 <a href="email_edit">设置邮箱</a></p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-sm">保存</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block script %}
<script>
$(function(){

  $('form').parsley().on('form:submit', function(){

    var $form = this.$element;
    var data = $form.serializeJSON()

    $.ajax({
      url: $form.attr('action'),
      type: 'POST',
      data: data,
      success: function(resp){
        if(!resp.errno){
          history.go(-1);
        }else{
          alert(resp.errmsg);
        }
      }
    })
    return false;
  })
})
</script>
{% endblock %}
