{% extends "base/sys.html" %}

{% set nav = 'user' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group">
        {% if session.authMap['user'] or session.authMap['user.add'] %}
        <a href="user_edit" class="btn btn-info btn-sm"><i class="fa fa-plus"></i> 添加用户</a>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>姓名</th>
            <th>登录账号</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>张三</td>
            <td>zhangsan</td>
            <td>
              <a href="user_edit" class="btn btn-info btn-sm">编辑</a>
              <div class="btn-group">
                <a href="#" class="btn btn-default btn-sm">查看</a>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="user_view">报告</a></li>
                </ul>
              </div>
              <button data-title='确认删除？' data-text="确认删除张三？" data-href="1" class="btn btn-danger btn-sm act-confirm">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/template" id="tmpl-oper">
  {% if session.authMap['user'] or session.authMap['user.edit'] or session.authMap['user.auth'] %}
  <a href="user_edit?id=${id}" class="btn btn-info btn-sm">编辑</a>
  {% endif %}

  <div class="btn-group">
    <a href="user_view?id=${id}" class="btn btn-default btn-sm">查看</a>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="user_view?id=${id}#agent">代理商</a></li>
    </ul>
  </div>

  {% if session.authMap['user'] or session.authMap['user.del'] %}
  <button data-title='确认删除？' data-text="确认删除${name}？" data-href="user_edit?act=del&id=${id}" class="btn btn-danger btn-sm act-confirm">删除</button>
  {% endif %}
</script>
<script>
$(function(){
  var renderOper = _.template($('#tmpl-oper').html());
  var dt = $('#example').DataTable({
    //ajax:'#',
    // columns:[
    //   {data:'name'},
    //   {data:'username'},
    //   {render:function(data, display, row){ return renderOper(row);}}
    // ],
    language:{
      url: '/json/datatables_chinese.json'
    },
    //serverSide:true,
    paging: true,
  });

  $('#example').on('click', '.act-confirm', function(){
    var $this = $(this);
    var href = $this.data('href');
    var title = $this.data('title') || '确认提交',
        text = $this.data('text') || '确认提交:'+href+' 吗?';
    swal({
      title: title,
      text: text,
      type: "warning",
      showCancelButton: true,
    },function(isConfirm){
      if (isConfirm) {
        $.ajax({
          url:href,
          type:'POST',
          success: function(){
            dt.draw();
          }
        })
      }
    });
  })
})
</script>
{% endblock %}
